TWENTY_BASE_URL=https://crm.fraterailabs.com
TWENTY_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://www.fraterailabs.com/api/auth/google/callback
ALLOWED_GOOGLE_DOMAIN=fraterailabs.com
PORTAL_EMAIL_ALLOWLIST=
SESSION_SECRET=
TWENTY_WEBHOOK_SECRET=
HUBSPOT_PORTAL_ID=245673738
HUBSPOT_FORM_GUID=7aaf12d7-5cc8-43a9-91ce-2fcb0961ab4c
SLACK_WEBHOOK_URL=
